.selected{
	background-color: yellow;
}

.highlight {
	background-color: yellow;
	font-weight: bold;
}

/* #specifyGrammar {
	width: 200px;
}

#specifyGrammar, #predList, #hypoList {
	display: inline-block;
	top: 0;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
}

#predList {
	top: 0;
} */